body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #FFC6AC;
    color: #333;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #9E9FA5;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #FFF6DC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #C4C1A4;
    color: #fff;
}

section {
    padding: 40px 0;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
