body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #451952;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    color: #EDE4FF;
    font-family: 'Kaoly Demo', cursive;
}

nav {
    background-color: #662549;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #AE445A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #F39F5A;
    color: #fff;
}

section {
    padding: 40px 0;
}

h2 {
    color: #451952;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #662549;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

section#about {
    margin-bottom: 40px; 
}

ul.sparkly-bullets {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

ul.sparkly-bullets li {
    margin-bottom: 8px; 
}

ul.sparkly-bullets li::before {
    content: '✦';
    color: #AE445A; 
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 8px; 

