body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.experience-item {
    position: relative;
}

.experience-item .line {
    position: absolute;
    float:left;
    background-color: purple;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
}



.container {
    width: 80%;
    margin: 0 auto;
}

#about {
    padding: 40px 0;
    
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 48%
    margin-bottom: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .project {
        width: 100%; 
    }
}

.project img {
    height: 200px; 
    object-fit: cover; 
}

.project-title {
    margin-top: 10px;
}

.project-description {
    height: 80px; 
    overflow: hidden; 
}


.about-image {
    max-width: 100%;
    width: 150px;
    margin-left: 20px;
    float: right;
}


.about-content p {
    max-width: 60%;
    margin-right: 20px;
    float:left;
}


header {
    background-color: #451952;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1{
    color: #EDE4FF;
    font-family: 'Kaoly Demo', cursive;
}

h2, h3{
    color: #9E4784;
}

nav {
    background-color: #624F82;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #E9D5DA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #9F91CC;
    color: #fff;
}

section {
    padding: 40px 0;
}

h2 {
    color: #451952;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.project {
    margin-bottom: 20px;
}


ul.sparkly-bullets {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

ul.sparkly-bullets li {
    margin-bottom: 8px;
}

ul.sparkly-bullets li::before {
    content: '✦';
    color: #AE445A;
    display: inline-block;
    width: 1em;
    margin-right: 8px;
}

#contact {
    background-image: url('https://codehs.com/uploads/126e4a0bf98778be4fa91f40fb5e138d');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 0;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #451952;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #662549;
    
}



footer {
    background-color: #2A2F4F;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}



.footer-info,
.footer-links,
.site-stats,
.site-credits,
.quick-contact-form {
    width: 100%;
    margin-bottom: 20px;
}

.social-links {
    align-items: center;
}


.social-links img {
    width: 20px;
    height: auto;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.site-stats p,
.site-credits p {
    font-size: 14px;
}


#experience {
    padding: 40px 0;
    margin-left:20px;
    
}

.experience-item {
    position: relative;
}

.experience-item .line {
    position: absolute;
    left: 50%;
    background-color: purple;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
}


